# configuration properties for the WiotpFaceDetectAppClient app

[application]
# WIoTP defined application configuration properties for your registered application

Organization-ID = 
id = 
Authentication-Method = apikey
API-Key = 
Authentication-Token = 

# --------------------------------------------------------
# Input for the sample app, not WIoTP App props

# Corresponding values from the iotp-device.cfg file
deviceType = 
deviceId = 
